/** @format */

// ! Import Variables
@use "scss/variables/colors" as *;
@use "scss/variables/times" as *;

// ! Import Functions
@use "scss/helpers/animation" as *;

// ! Start Button
.button {
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: $blue-color;
  color: white;
  font-size: 14px;
  padding: 3px 10px;
  font-weight: 500;

  &:hover {
    background-color: $blue-alt-color;
  }
}
// ! End Button

// ! Start Heading
.section-header {
  margin: 0;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 26px;
}

.section-des {
  display: block;
  color: $grey-color;
  margin-top: 8px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 15px;
}
// ! End Heading

// ! Start Colors
.bg-blue {
  background-color: $blue-color !important;
}
.bg-orange {
  background-color: $orange-color !important;
}
.bg-green {
  background-color: $green-color !important;
}
.bg-red {
  background-color: $red-color !important;
}

.bg-twitter {
  background-color: #1da1f2;
}
.bg-facebook {
  background-color: #1877f2;
}
.bg-youtube {
  background-color: #ff0000;
}
.bg-linkedin {
  background-color: #0a66c2;
}

.c-twitter {
  color: #1da1f2;
}
.c-facebook {
  color: #1877f2;
}
.c-youtube {
  color: #ff0000;
}
.c-linkedin {
  color: #0a66c2;
}

.b-blue {
  border-color: $blue-color !important;
}
.b-orange {
  border-color: $orange-color !important;
}
.b-green {
  border-color: $green-color !important;
}
.b-red {
  border-color: $red-color !important;
}

.c-blue {
  color: $blue-color !important;
}
.c-orange {
  color: $orange-color !important;
}
.c-green {
  color: $green-color !important;
}
.c-red {
  color: $red-color !important;
}
.c-grey {
  color: $grey-color !important;
}

.red {
  background-color: rgba(244, 67, 54, 0.2) !important;
}
.blue {
  background-color: rgb(0 117 255 / 20%) !important;
}
.green {
  background-color: rgba(34, 197, 94, 0.2) !important;
}
.orange {
  background-color: rgb(245 158 11 / 20%) !important;
}
div.green {
  background-color: rgb(34 197 94 / 20%) !important;
}
// ! End Colors

.p-20 {
  padding: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}
