/** @format */

// ! Import Global Rules
@use "scss/layout/global-rules";

// ! Import Variables
@use "scss/variables/colors" as *;
@use "scss/variables/times" as *;

// ! Import Mixins
@use "scss/helpers/mixin" as *;

// ! Import Sidebar
@use "scss/pages/sidebar";
@use "scss/pages/dashboard";

// ! Import Functions
@use "scss/helpers/animation" as *;

.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;

  @media (max-width: 767px) {
    width: 58px;
    padding: 10px;
  }

  & > h3 {
    margin-bottom: 40px;
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 14px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: black;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);

      @media (max-width: 767px) {
        display: none;
      }
    }
    &::before {
      width: 80px;
      height: 2px;
      bottom: -20px;
    }
    &::after {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      bottom: -30px;
      border: 4px solid rgb(255, 255, 255) !important;
    }
  }

  .links {
    margin-top: 20px;

    @media (max-width: 767px) {
      margin-top: -30px;
    }

    ul {
      margin-top: 50px !important;
      li {
        margin-left: -3px;

        a {
          display: block;
          padding: 8px 16px 8px 15px;
          transition: 0.3s;
          margin-bottom: 5px;
          transition: $transition_time3;
          -webkit-transition: $transition_time3;
          -moz-transition: $transition_time3;
          -ms-transition: $transition_time3;
          -o-transition: $transition_time3;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          font-weight: 500;

          &:hover,
          &.active {
            background-color: #f6f6f6;
          }

          svg {
            font-size: 14px;
          }

          span {
            font-size: 14px;
            margin-left: 10px;
            transition: $transition_time3;
            -webkit-transition: $transition_time3;
            -moz-transition: $transition_time3;
            -ms-transition: $transition_time3;
            -o-transition: $transition_time3;

            @media (max-width: 767px) {
              display: none;
            }
          }
        }
        &:hover {
          svg {
            color: $blue-color !important;
          }
          span {
            transform: translateX(10px);
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
            color: black !important;
          }
        }
      }
    }
  }

  .log-out {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: 40px;

    @media (max-width: 767px) {
      margin-left: 10px;
    }

    svg {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      margin-right: 2px;
    }

    span {
      font-size: 14px;
      font-weight: bold;

      a {
        @media (max-width: 767px) {
          display: none;
        }
      }

      a:hover {
        color: $red-color !important;
      }
    }

    &:hover {
      svg {
        animation: left-right $transition_time6 infinite;
        -webkit-animation: left-right $transition_time6 infinite;
      }
      a {
        color: red;
      }
    }
  }
}
.content {
  overflow: hidden;
  width: 100%;
}

.header {
  flex: 1;
  box-shadow: 0 0 10px #ddd;
  padding: 15px;

  .search {
    input {
      outline: none;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-left: 5px;
      padding: 8px;
      padding-left: 30px;
      width: 160px;
      transition: width $transition_time3;
      -webkit-transition: width $transition_time3;
      -moz-transition: width $transition_time3;
      -ms-transition: width $transition_time3;
      -o-transition: width $transition_time3;
      font-size: 13px;
      caret-color: $blue-color;

      &:focus {
        width: 200px;
        border-color: $blue-color;
        color: $blue-color;
        font-weight: 600;

        &::placeholder {
          opacity: 0;
        }

        & + svg {
          color: $blue-color;
          top: 50%;
          transform: translateY(-50%) rotate(360deg);
          -webkit-transform: translateY(-50%) rotate(360deg);
          -moz-transform: translateY(-50%) rotate(360deg);
          -ms-transform: translateY(-50%) rotate(360deg);
          -o-transform: translateY(-50%) rotate(360deg);
        }
      }

      &::placeholder {
        transition: opacity $transition_time5;
        -webkit-transition: opacity $transition_time5;
        -moz-transition: opacity $transition_time5;
        -ms-transition: opacity $transition_time5;
        -o-transition: opacity $transition_time5;
      }
    }
    svg {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      color: #ccc;
      transition: $transition_time5;
      -webkit-transition: $transition_time5;
      -moz-transition: $transition_time5;
      -ms-transition: $transition_time5;
      -o-transition: $transition_time5;
    }
  }

  .notifications {
    position: absolute;
    right: 100px;
    background-color: #ddd;
    padding: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;

    @media (max-width: 767px) {
      right: 55px;
    }

    svg {
      font-size: 18px;
      animation: rotate $transition_time3 infinite;
      -webkit-animation: rotate $transition_time3 infinite;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: red;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      top: 0px;
      left: 20px;
    }
  }

  .profile {
    img {
      width: 35px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      transition: $transition_time3;
      -webkit-transition: $transition_time3;
      -moz-transition: $transition_time3;
      -ms-transition: $transition_time3;
      -o-transition: $transition_time3;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }

    span {
      font-size: 14px;
      font-weight: 600;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &:hover span {
      color: $blue-color;
    }
  }
}
