/** @format */

$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$grey-color: #888;
$notif-bg: #fff;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-bg: #f0f0f0;
$icon-size: 32px;
$padding: 10px;
$border-radius: 50%;
