/** @format */

// ! Import Variables
@use "../variables/colors" as *;
@use "../variables/times" as *;

// ! Import Functions
@use "../helpers/animation" as *;

// ! Import Mixins
@use "../helpers/mixin" as *;

.dashboard {
  background-color: #f1f2f6;

  .dashboard-page {
    background-color: #f1f2f6;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0 !important;

    @media (max-width: 767px) {
      padding: 10px;
      padding-bottom: 0;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;

    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
      gap: 10px;
    }

    // ! Start Welcome Section
    .welcome {
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      overflow: hidden;

      @media (max-width: 767px) {
        text-align: center;
      }

      .banner {
        padding: 20px;
        background-color: #eee;

        img {
          width: 200px;
          margin-bottom: -10px;

          @media (max-width: 767px) {
            display: none;
          }
        }
        @media (max-width: 767px) {
          height: 120px;
        }
      }

      .info {
        flex: 1;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        @media (max-width: 767px) {
          display: block !important;
        }
        div {
          span {
            color: $grey-color;
            font-size: 14px;
            margin-top: 10px;
            display: block;
            font-weight: 500;
          }
          @media (max-width: 767px) {
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
        }
      }

      .link {
        padding: 0 20px 20px;
        a {
          margin: 0 0 0 auto;
        }
      }

      .avatar {
        width: 64px;
        height: 64px;
        border: 2px solid white;
        border-radius: 50%;
        padding: 2px;
        box-shadow: 0 0 5px #ddd;
        margin-left: 20px;
        margin-top: -32px;
        transition: width $transition_time3;
        -webkit-transition: width $transition_time3;
        -moz-transition: width $transition_time3;
        -ms-transition: width $transition_time3;
        -o-transition: width $transition_time3;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
    // ! End Welcome Section
    // ! Start Quick Draft Section
    .quick-draft {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      input,
      textarea {
        border: none;
        outline: none;
        background-color: #eee;
        display: block;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        font-size: 13px;

        &::placeholder {
          transition: opacity $transition_time5;
          -webkit-transition: opacity $transition_time5;
          -moz-transition: opacity $transition_time5;
          -ms-transition: opacity $transition_time5;
          -o-transition: opacity $transition_time5;
        }

        &:focus::placeholder {
          opacity: 0;
        }
      }

      textarea {
        resize: none;
        min-height: 180px;
      }

      .link {
        a {
          margin: 0 0 0 auto;
        }
      }
    }
    // ! End Quick Draft Section
    // ! Start Yearly Target Section
    .yearly-target {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .prog {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 20px;

        .theme {
          width: 80px;
          height: 80px;
          margin-right: 15px;
        }

        .details {
          flex: 1;

          .data {
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 10px;
            display: block;

            .percent {
              font-size: 12px;
              padding: 2px 4px;
              color: white;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
            }
          }

          .name {
            font-size: 14px;
            color: $grey-color;
            display: block;
          }
          .progress {
            height: 4px;

            span {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              display: block;
              transition: calc($transition_time6 * 4);
              -webkit-transition: calc($transition_time6 * 4);
              -moz-transition: calc($transition_time6 * 4);
              -ms-transition: calc($transition_time6 * 4);
              -o-transition: calc($transition_time6 * 4);
            }
          }
        }
      }
    }
    // ! End Yearly Target Section
    // ! Start Tickets Statistics Section
    .statistics {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;
      margin: 0;

      .box {
        border: 2px solid #eee;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin: 10px;
        width: calc(50% - 20px);
        padding: 20px;
        font-size: 13px;
        color: $grey-color;

        &:first-of-type:hover {
          border-color: $orange-color;
        }
        &:nth-of-type(2):hover {
          border-color: $blue-color;
        }
        &:nth-of-type(3):hover {
          border-color: $green-color;
        }
        &:last-of-type:hover {
          border-color: $red-color;
        }

        svg {
          margin-bottom: 10px;
          font-size: 26px;
        }
        span {
          font-size: 25px;
          color: black;
          margin-bottom: 5px;
          font-weight: bold;
        }
      }
    }
    // ! End Tickets Statistics Section
    // ! Start Lastest News Section
    .news {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data {
        margin-top: 20px;

        .item {
          transition: $transition_time3;
          -webkit-transition: $transition_time3;
          -moz-transition: $transition_time3;
          -ms-transition: $transition_time3;
          -o-transition: $transition_time3;

          @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;

            img {
              margin-bottom: 20px;
            }
          }

          &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          &:last-of-type {
            padding-top: 20px;
            padding-bottom: 20px;
          }

          &:hover {
            border-color: $blue-color;
            background-color: #eee;
          }

          img {
            width: 100px;
            margin-right: 15px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            transition: $transition_time3;
            -webkit-transition: $transition_time3;
            -moz-transition: $transition_time3;
            -ms-transition: $transition_time3;
            -o-transition: $transition_time3;
            cursor: pointer;

            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
            }
          }

          .info {
            flex: 1;

            h3 {
              margin: 0 0 6px;
              font-size: 16px;
              font-weight: bold;
            }

            p {
              color: $grey-color;
              font-size: 14px;
              display: block;
              margin: 0;
            }
          }

          .time {
            margin: 10px auto;
            width: fit-content;
            background-color: #eee;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            font-size: 13px;
            padding: 3px 10px;
            font-weight: 500;
          }
        }
      }
    }
    // ! End Lastest News Section
    // ! Start Latest Tasks Section
    .tasks {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data {
        margin-top: 20px;

        .item {
          &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
            padding-top: 15px;
            padding-bottom: 15px;
          }

          &:last-of-type {
            padding-top: 10px;
          }

          &:hover {
            border-color: $blue-color;
          }

          &.done {
            opacity: 0.3;

            &:hover {
              border-color: $red-color;
            }

            h3,
            p {
              text-decoration: wavy line-through;
              text-decoration-color: red;
              -moz-text-decoration-color: red;
            }
          }
          .contain-delete {
            padding: 5px;

            .delete {
              cursor: pointer;
              transition: $transition_time3;
              -webkit-transition: $transition_time3;
              -moz-transition: $transition_time3;
              -ms-transition: $transition_time3;
              -o-transition: $transition_time3;
              font-size: 18px;

              &:hover {
                color: $red-color;
                animation: rotate $transition_time3 infinite;
                -webkit-animation: rotate $transition_time3 infinite;
              }
            }
          }

          .info {
            flex: 1;

            @media (max-width: 767px) {
              display: block;
            }

            h3 {
              margin: 0 0 5px;
              font-size: 15px;
              font-weight: bold;
            }

            p {
              color: $grey-color;
              font-size: 16px;
              display: block;
              margin: 0;
            }
          }
        }
      }
    }
    // ! End Latest Tasks Section
    // ! Start Top Search Section
    .search {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data {
        margin-top: 20px;

        .item {
          &:not(:first-of-type) {
            padding-top: 12px;
            padding-bottom: 12px;
          }

          .info {
            flex: 1;

            @media (max-width: 767px) {
              display: block;
            }

            p {
              margin: 0 0 5px;
              font-weight: 500;
            }
          }

          .top {
            flex: 1;
            padding-top: 10px;

            @media (max-width: 767px) {
              display: block;
            }

            p,
            & + p {
              color: $grey-color;
              font-size: 17px;
            }
          }

          span {
            background-color: #eee;
            font-size: 16px;
            display: block;
            margin: 0;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            font-size: 13px;
            padding: 3px 10px;
            font-weight: 500;
          }
        }
      }
    }
    // ! End Top Search Section
    // ! Start Latest Uploads Section
    .latest {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data {
        margin-top: 20px;

        .item {
          transition: $transition_time3;
          -webkit-transition: $transition_time3;
          -moz-transition: $transition_time3;
          -ms-transition: $transition_time3;
          -o-transition: $transition_time3;
          padding-top: 8px;
          padding-bottom: 8px;

          &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
          }

          &:hover {
            border-color: $blue-color;
            background-color: #eee;
          }

          img {
            width: 40px;
            margin-right: 10px;
            transition: $transition_time3;
            -webkit-transition: $transition_time3;
            -moz-transition: $transition_time3;
            -ms-transition: $transition_time3;
            -o-transition: $transition_time3;
            cursor: pointer;

            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
            }
          }

          .info {
            flex: 1;

            h3 {
              margin: 0 0 2px;
              font-size: 16px;
            }

            p {
              color: $grey-color;
              font-size: 14px;
              display: block;
              margin: 0;
            }
          }

          .time {
            margin: 10px auto;
            width: fit-content;
            background-color: #eee;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            font-size: 13px;
            padding: 3px 10px;
            font-weight: 500;
          }
        }
      }
    }
    // ! End Latest Uploads Section
    // ! Start Last Project Progress Section
    .projects {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .list {
        margin-top: 20px;

        ul {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            height: 90%;
            background-color: $blue-color;
            width: 2px;
          }
          li {
            position: relative;
            display: flex;

            &:not(:last-of-type) {
              margin-bottom: 10px;
            }

            &::before {
              content: "";
              position: absolute;
              left: -2px;
              top: 0;
              height: 24px;
              width: 24px;
              background-color: white;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border: 2px solid white;
              outline: 2px solid $blue-color;
            }

            span {
              height: 20px;
              width: 20px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              position: relative;
              z-index: 1;
              display: block;
              bottom: 50%;
              margin-top: 2px;
              transition: $transition_time3;
              -webkit-transition: $transition_time3;
              -moz-transition: $transition_time3;
              -ms-transition: $transition_time3;
              -o-transition: $transition_time3;

              &.compelete {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                  color: $blue-color;
                  font-weight: 900;
                  text-align: center;
                  font-size: 20px;
                }
              }

              &.current {
                animation: splash calc($transition_time6 * 2) infinite;
                -webkit-animation: splash calc($transition_time6 * 2) infinite;
              }
            }

            p {
              margin-left: 20px;
              font-weight: 500;
            }
          }
        }

        img {
          width: 170px;
          position: absolute;
          bottom: 10px;
          right: 10px;
          opacity: 0.2;
          animation: up-down 5s infinite;
          -webkit-animation: up-down 5s infinite;
        }
      }
    }
    // ! End Last Project Progress Section
    // ! Start Reminders Section
    .reminders {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;
      padding-bottom: 0;

      .data {
        margin-top: 20px;

        .info-box {
          position: relative;

          .ball {
            position: relative;
            width: 16px;
            height: 16px;
            background-color: transparent;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: block;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              opacity: 0.6;
              animation: pulse 2s ease-out infinite;
              -webkit-animation: pulse 2s ease-out infinite;
              background-color: inherit;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              opacity: 0.6;
              animation: pulse 2s 1s ease-out infinite;
              -webkit-animation: pulse 2s 1s ease-out infinite;
              background-color: inherit;
            }
          }

          .info {
            margin-left: 27px;
            margin-bottom: 15px;
            border-left: 2px solid transparent;
            padding-left: 15px;

            p {
              font-weight: bold;
              font-size: 14px;
              margin-bottom: 6px;
            }

            span {
              font-size: 13px;
              color: $grey-color;
              display: block;
            }
          }
        }
      }
    }
    // ! End Reminders Section
    // ! Start Latest Post Widget Section
    .latest-post {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data:not(.active) {
        display: none;
      }

      .top {
        margin-top: 20px;

        img {
          width: 50px;
          margin-right: 15px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .info {
          .name {
            margin-bottom: 4px;
            font-weight: bold;
          }

          .time {
            color: $grey-color;
            font-size: 15px;
          }
        }
      }

      .post-content {
        padding: 20px 0;
        margin: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1.8;
        min-height: 150px;
        user-select: text;

        @media (max-width: 767px) {
          text-align: center;
        }
      }

      .post-stats {
        color: $grey-color;

        .fa-heart {
          color: $red-color;
        }

        .fa-comments {
          color: $green-color;
        }
      }
    }
    // ! End Latest Post Widget Section
    // ! Start Social Media Stats Widget Section
    .social-media {
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;

      .data {
        margin-top: 20px;

        .box {
          position: relative;
          padding: 15px;
          margin-bottom: 12px;

          &.twitter {
            background-color: rgba(29, 160, 242, 0.2);
          }
          &.facebook {
            background-color: rgba(24, 118, 242, 0.2);
          }
          &.youtube {
            background-color: rgba(255, 0, 0, 0.2);
          }
          &.linkedin {
            background-color: rgba(10, 102, 194, 0.2);
          }

          svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 52px;
            height: 100%;
            font-weight: 400;
            color: white;
            padding: 10px;
            transition: $transition_time3;
            -webkit-transition: $transition_time3;
            -moz-transition: $transition_time3;
            -ms-transition: $transition_time3;
            -o-transition: $transition_time3;
          }

          &:hover svg {
            transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            -o-transform: rotate(15deg);
          }

          .info {
            margin: 0 auto 0 50px;
          }

          a {
            border: none;
            outline: none;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            color: white;
            font-size: 13px;
            padding: 3px 10px;
            font-weight: 500;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
    // ! End Social Media Stats Widget Section
  }

  // ! Start Projects Table Section
  .table {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }

    .responsive-table {
      margin-top: 20px;
      overflow-x: scroll;

      table {
        font-size: 15px;
        font-weight: 500;
        min-width: 1000px;
        border-spacing: 0;
        width: 100%;

        thead {
          background-color: #eee;
          border: 1px solid #eee;

          th {
            padding: 15px;
          }
        }

        tbody {
          border: none;

          tr {
            &:hover td {
              background-color: #faf7f7;
            }

            td {
              padding: 15px;
              border-bottom: 1px solid #eee;
              border-left: 1px solid #eee;
              transition: $transition_time3;
              -webkit-transition: $transition_time3;
              -moz-transition: $transition_time3;
              -ms-transition: $transition_time3;
              -o-transition: $transition_time3;

              &:last-child {
                border-right: 1px solid #eee;
              }
            }
          }
        }
      }

      img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;

        &:hover {
          position: relative;
          z-index: 1000;
        }

        &:not(:first-of-type) {
          margin-left: -20px;
        }
      }

      .label {
        border: none;
        outline: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        color: white;
        font-size: 13px;
        padding: 3px 10px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  // ! End Projects Table Section
}
