/** @format */

// ! Import Variables
@use "../variables/colors" as *;
@use "../variables/times" as *;

// ! Import Functions
@use "../helpers/animation" as *;

// ! Import Mixins
@use "../helpers/mixin" as *;

.dashboard {
  background-color: #f1f2f6;

  .friends-page {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    background-color: #f1f2f6;
    padding: 20px;
    padding-top: 0 !important;

    @media (max-width: 767px) {
      grid-template-columns: minmax(200px, 1fr);
      gap: 10px;
      padding: 10px;
    }

    .friend {
      padding: 20px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      background: white;

      .tel {
        color: $grey-color;
        background-color: #eee;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding: 10px;
        width: 33px;
        height: 33px;
        cursor: pointer;
        position: absolute;
        color: $grey-color;

        &:first-of-type {
          margin-left: -10px;
          margin-top: -10px;
        }
        &:last-of-type {
          margin-left: 28px;
          margin-top: -10px;
        }

        &:hover {
          color: white;
          background-color: $blue-color;
        }
      }

      img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        transition: $transition_time3;
        -webkit-transition: $transition_time3;
        -moz-transition: $transition_time3;
        -ms-transition: $transition_time3;
        -o-transition: $transition_time3;

        &:hover {
          transform: scale(1.1) rotate(5deg);
          -webkit-transform: scale(1.1) rotate(5deg);
          -moz-transform: scale(1.1) rotate(5deg);
          -ms-transform: scale(1.1) rotate(5deg);
          -o-transform: scale(1.1) rotate(5deg);
        }
      }

      h4 {
        font-size: 16px;
        font-weight: bolder;
        margin-top: 12px;
        margin-bottom: 0;
        letter-spacing: -1px;
      }

      p {
        color: $grey-color;
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 0;
        font-weight: 500;
      }

      .icons {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin: 10px 0;
        padding: 10px 0 0;
        font-weight: 500;
        font-size: 14px;
        color: black;

        & > div {
          margin-bottom: 8px;

          svg {
            margin-right: 5px;
          }
        }

        .vip {
          position: absolute;
          font-size: 40px;
          opacity: 0.2;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        color: $grey-color;
        font-weight: 500;
        padding-top: 10px;

        a {
          border: none;
          outline: none;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          color: white;
          font-size: 13px;
          padding: 4px 9px;
          font-weight: 500;
        }
      }
    }
  }
}
