/** @format */

@use "../variables/colors" as *;
@use "../variables/times" as *;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;

  body {
    font-family: "Open Sans", sans-serif;
    user-select: none;

    a {
      color: black;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

// ! Start Header Page
.header-page {
  margin: 20px 20px 40px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1px;

  &::before,
  &::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  &::before {
    background-color: white;
    width: 120px;
  }

  &::after {
    background-color: black;
    width: 40px;
  }
}

// ! End Header Page
